@model peaker.ViewModels.AthleteDetailViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
</head>

<body>
    You are not connected to Strava

    <a href="https://www.strava.com/oauth/authorize?client_id=3764&response_type=code&redirect_uri=http://localhost:63041/strava/connect&approval_prompt=force"> Connect to Strava </a>

</body>
</html>