
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a href="https://www.strava.com/oauth/authorize?client_id=3764&response_type=code&redirect_uri=http://localhost:63041/strava/connect&approval_prompt=force"> Connect to Strava </a>